	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/08/2019 00:21
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
font-style: normal;
}

.flaticon-team:before { content: "\f100"; }
.flaticon-man:before { content: "\f101"; }
.flaticon-team-1:before { content: "\f102"; }
.flaticon-group:before { content: "\f103"; }
.flaticon-document:before { content: "\f104"; }
.flaticon-human:before { content: "\f105"; }
.flaticon-product:before { content: "\f106"; }
.flaticon-phone:before { content: "\f107"; }
.flaticon-pin:before { content: "\f108"; }
.flaticon-mail:before { content: "\f109"; }
